---

import BaseLayout from "../layouts/BaseLayout.astro";

---


<BaseLayout title="Design">
  <div class="buttons">
    <a href="#" class="btn-primary">Primary button</a>
    <a href="#" class="btn-secondary">Secondary button</a>
  </div>

</BaseLayout>

<style>

  

</style>
