---
const { btnStyle = 'primary', link = '#', text } = Astro.props
---


<a class="btn" data-btn={btnStyle} href={link}>{text}</a>


<style>

@layer components {
    [data-btn="primary"] {
        --background-color: var(--tertiary-color);
        --border-color: var(--tertiary-color);
        --text-color: var(--white-color);

        --hover-background: var(--white-color);
        --hover-border:  #000;
        --hover-text: var(--tertiary-color);
    }

    [data-btn="secondary"] {
        --background-color: var(--primary-color);
        --border-color: var(--primary-color);
        --text-color: var(--tertiary-color);

        --hover-background: var(--tertiary-color);
        --hover-border: var(--tertiary-color);
        --hover-text: var(--white-color); 
    }


    .btn {
        display: inline-block;
        padding: 16px 32px;
        border-radius: 100px;
        border: 2px solid var(--border-color);
        color: var(--text-color);
        background-color: var(--background-color);
        font-size: 18px;
        transition: all 0.5s ease-in-out;
        &:hover {
            background: var(--hover-background);
            border-color: var(--hover-border);
            color: var(--hover-text);
        }
    }
}
</style>
