---
import Popover from "../components/Popover.astro";




const currentPath = Astro.url.pathname; // Get the current page path

// Define your navigation links
const navLinks = [
  { href: "/", label: "Home" },
  { href: "/case-study/", label: "Case study" },
  { href: "/team/", label: "Team" },
  { href: "/about/", label: "About" },
];


---

<header class="header">
    <div class="header-logo">
      <a href="/" class="header-logo-link">AskExperts</a>
    </div>
  
    <nav class="header-nav">
      <ul class="header-nav-list">
        {navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class={`header-nav-item ${currentPath === link.href ? 'active' : ""}`}
            >
              {link.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <Popover />
  </header>

    <style>
  @layer components {

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: var(--heading-color);

      z-index: 1000;
      position: relative;
      .header-logo-link {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--white-color);
        text-decoration: none;
        
      }
      .header-nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;


        .header-nav-item {
          text-decoration: none;
          color: var(--white-color);
          font-size: 1rem;
          transition: all .4s ease-in-out;
          &.active {
            color: var(--primary-color);
          }
          &:hover {
            color: var(--primary-color);
          }
        }
   
      }
      @media (width < 600px) {
        .header-nav-list {
          flex-direction: column;
          text-align: center; 
        }
      }
    }
  }
</style>