---
---

<dl>
    <div class="number-text">
      <dt>Successful Work</dt>
      <dd class="h1">1128+</dd>
    </div>
    <div class="number-text">
      <dt>Team member</dt>
      <dd class="h1">908+</dd>
    </div>
    <div class="number-text">
        <dt>Happy Customers</dt>
        <dd class="h1">258+</dd>
    </div>
    <div class="number-text">
        <dt>Creative Idea</dt>
        <dd class="h1">564+</dd>
    </div>
  </dl>

  <style>  
  @layer components {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

dl {
  display: flex;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    align-items: center;
    gap: 100px;
    padding: 2rem 0;
    margin-top: 50px;
    > * {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.125rem;
    color: #181818;
    
    :last-child {
      
      font-weight: 500;
    }
  }
  
  
    .number-text {
      gap: 20px;
    }

  } 
}
  </style>